<div class="pagination-centered" id="token-explanation">
	<h3 class="grey-face">&uarr;</h3>
	<h4>That&#8217;s your submission token. You should write it down.</h4>
	<hr />
	<p>
		You can check the status of your submission at any time by refreshing this page.
		<br />
		Processing should take about 20 minutes.
		<br />
		<strong>There {{ jobs_ahead|jinja_filter_jobs_ahead }}</strong> ahead of yours.
	</p>
	<p><a href="javascript://" id="no-token-explanation">Got it. Don&#8217;t show me this message again.</a></p>
</div>