<small>
	<ul>
		<li><strong>{{ config.UPLOAD_FORMAT_EXTENSIONS|make_comma_list }}</strong> are valid file extensions. <strong>If compressed</strong>, your upload should contain a <em>single</em> VCF at <em>zero depth</em> when extracted (so don't put your VCF file inside a folder before you compress).</li>
		<li>Uploads are limited to <strong>{{ max_upload_size() }}</strong>.</li>
		<li>Jobs are processed in the order in which they are submitted.</li>
		<li>There&#8217;s no limit on the number of analyses you can request.</li>
	</ul>
</small>