<div class="row">
	<div class="span7">
		<span id="uri-error-messages" class="label label-important label-error">{% for error in submission_form.vcf.errors %}{{ error }}{% endfor %}</span>
		<div class="input-append">
			{{ submission_form.uri(class="span5") }}
			<button id="uri-submit" type="submit" class="btn btn-success">Go <i class="icon-chevron-right icon-white"></i></button>
		</div>
		<br />
		<small id="uri-example">
			<strong>E.g.</strong> <code>http://www.example.com/input.vcf</code> <a href="javascript://" id="uri-sample-data">(Use sample URI?)</a>
			<br />
			<span style="display:none;">
				<br />
				<img src="/static/img/wait.gif" /> Attempting to fetch remote file. This might take a while depending on size and connection speed.
			</span>
		</small>
	</div>
	<div class="span5" id="uri-info">
		<small>
			You can link to a raw VCF file or any compatible compression format.
			<br />
			If you specify a remote file without an extension, I&#8217;ll assume it&#8217;s in VCF format.
			<br />
			Remote file size shouldn&#8217;t exceed <strong>{{ max_upload_size(config.DOWNLOAD_VCF_MAX_SIZE) }}</strong>
		</small>
	</div>
</div>