<div class="span7">
	<small>
		<ul>
			<li>Uploads are limited to <strong>100MB</strong>.</li>
			<li>You'll get an <strong>upload token</strong> on submission. <br /><strong>Please write it down!</strong> You'll use it to check on your job later.</li>
			<li>All submission files and results are <strong>removed after 10 days</strong>.</li>
			<li>Jobs are processed in the order in which they are submitted.</li>
			<li>There's no limit on the number of analyses you can request.</li>
		</ul>
	</small>
</div>