<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<title>{{ config.PROJECT_NAME }}</title>
		<script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-fileupload.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
		{% block head %}{% endblock %}

		{% if self.styles() %}
		<style type="text/css">
			{% block styles %}{% endblock %}
		</style>
		{% endif %}
	</head>
	<body class="container">

		<!--


		Well, aren't _you_ the curious little kitten?
		https://github.com/afreeorange/autozygosity


		-->

		<!--[if lt IE 8]>
			<div class="alert">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it to use this site (and many more on the web) properly</a>.</div>
		<![endif]-->

		<h1 class="pagination-centered" id="masthead"><a href="/" title="Go home!">{{ config.PROJECT_NAME }}</a></h1>

		<hr />

		{# Display any flashed messages #}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert">{{ message }} </div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div id="content">{% block content %}{% endblock %}</div>

		<hr />

		<footer>
			<small>
				{% if self.footer() %}
					{% block footer %}{% endblock %}
				{% endif %}
				{{ config.COPYRIGHT_MESSAGE|safe }}
			</small>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
		<script src="{{ url_for('static', filename='js/jquery.ui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/site.js') }}"></script>
		<script type="text/javascript">
		{% block javascript %}{% endblock %}
		</script>
	</body>
</html>

