<div class="pagination-centered">
	<h1 class="happy-face">:)</h1>
	<h2>Your results are ready.</h2>
	<p>
		Exciting! Download them below.
		<br />
		<small>
			Please note that these will be available for just 10 days
			<br />
			You can download <a href="/token/{{ submission.token }}/bed">the BED</a> and <a href="/token/{{ submission.token }}">VCF</a> outputs separately.
		</small>
	</p>

	<div class="row">
		<div class="span3 offset3">
			<a href="/download/{{ submission.token }}/input" id="download-input"><span>Download your original VCF input file</span></a>
		</div>
		<div class="span3">
			<a href="/download/{{ submission.token }}/output" id="download-results"><span>Download a zip archive of your results</span></a>
		</div>
	</div>
</div>

<hr />

{% if bed_data %}
<div class="pagination-centered">
	<h3>BED file output</h3>
	<p>Just a preview. This is included in the zip file above.</p>
</div>

<table class="table table-bordered table-condensed bed-results">
	<thead>
		<tr>
			<th>Chromosome</th>
			<th class="align-right">Start</th>
			<th class="align-right">End</th>
			<th class="align-right">kB Hom</th>
			<th class="align-right">SNP Hom</th>
		</tr>
	</thead>
	<tbody>
	{% for record in bed_data %}
		<tr>
			<td>{{ record[0] }}</td>
			<td class="align-right">{{ record[1] }}</td>
			<td class="align-right">{{ record[2] }}</td>
			<td class="align-right">{{ record[3] }}</td>
			<td class="align-right">{{ record[4] }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}