<div class="row">
	<div class="span8">
		<h3>Check status</h3>
		<form id="tokencheck" action="/token" method="GET" enctype="multipart/form-data">
			{{ status_form.csrf_token }}
			<div class="input-append">
				<input class="span5" type="text" name="token" />
				<button type="submit" class="btn btn-success">Go  <i class="icon-chevron-right icon-white"></i></button>
			</div>
		</form>
	</div>
	<div class="span4">
		{% if tokens %}
			<h4>Past submissions</h4>
			{% for token in tokens %}
				<a class="label label-info" href="/token/{{ token }}">{{ token }}</a>
			{% endfor %}
		{% endif %}
	</div>
</div>
