<div class="row">
	<div class="span7">
		<h3>Have a token?</h3>
		<form id="tokencheck" action="/token/check" method="POST" enctype="multipart/form-data">
			{{ token_form.csrf_token }}
			<span id="tokencheck-messages" class="label label-important label-error"></span>
			<div class="input-append">
				{{ token_form.token(class="span5", required="required") }}
				<button id="token-submit" type="submit" class="btn btn-success">Check  <i class="icon-chevron-right icon-white"></i></button>
			</div>
			{% if session['last_token'] %}
			<small>Your most recent token was &#8220;<strong>{{ session['last_token'] }}</strong>&#8221;. Want to <a id="last-submission" href="/token/{{ session['last_token'] }}">check its status</a>?</small>
			{% endif %}
		</form>
	</div>
	<div class="span5">
		<h4>Publication</h4>
		<p>
			<big><strong><a href="#" title="Link to paper describing this tool">Homozygosity Mapping Using Only Exome Data</a></strong></big>
			<br />
			<small>
				Adam P. DeLuca, V. Nikhil Anand, Todd E. Scheetz, Edwin M. Stone, and Terry A. Braun
			</small>
		</p>
	</div>
</div>
