{% extends "base.html" %}

{% block content %}

{{ request.full_path }}

	{% if submission %}

		<h1 id="token">{{ submission.token }}</h1>

		{% if first_time_visitor() %}
			{% include "block-token-explanation.html" %}

		{% else %}
			{% if submission.status == 'submitted' or submission.status == 'running' %}
				{% include "block-token-queued.html" %}

			{% elif submission.status == 'completed' %}
				{% include "block-token-completed.html" %}

			{% else %}
				{% include "block-token-failed.html" %}

			{% endif %}
		{% endif %}

		<hr />

		{% include "block-token-meta.html" %}

	{% else %}
		
		{% include "error-token.html" %}

	{% endif %}
	
{% endblock %}