{% extends "base.html" %}

{% block content %}

	{% if submission %}

		<h1 id="token">{{ submission.token }}</h1>

		{% if explain_submission() and submission.status != 'failed' %}
			{% include "block-token-explanation.html" %}

		{% else %}
			{% if submission.status == 'submitted' %}
				{% include "block-token-submitted.html" %}

			{% elif submission.status == 'running' %}
				{% include "block-token-running.html" %}

			{% elif submission.status == 'completed' %}
				{% include "block-token-completed.html" %}

			{% else %}
				{% include "block-token-failed.html" %}

			{% endif %}
		{% endif %}

		<hr />

		{% include "block-token-meta.html" %}

	{% else %}
		
		{% include "error-token.html" %}

	{% endif %}
	
{% endblock %}
